In [23]:
import random
import numpy as np
import pandas as pd

In [83]:
##### Suponiendo que cada cluster tiene observaciones y que estas observaciones pueden estar en uno o m√°s clusters, 
#suponemos que tiene la forma siguiente (simulamos datos para hacer el ejercicio):
observaciones = range(0,200)
clusters = {}

for idx in range(0,10):
    num_obs = random.randrange(5, 40)
    clusters["cluster_"+str(idx)]=random.sample(observaciones,num_obs)

In [84]:
clusters

{'cluster_0': [85,
  88,
  79,
  190,
  5,
  38,
  68,
  63,
  134,
  122,
  180,
  155,
  194,
  86,
  139,
  95,
  142,
  182,
  187,
  169,
  78,
  125,
  136,
  166,
  173,
  191],
 'cluster_1': [91, 15, 163, 37, 133, 103],
 'cluster_2': [37, 53, 118, 76, 175, 60, 43, 86, 66, 178, 138, 11, 133, 71],
 'cluster_3': [147,
  69,
  144,
  139,
  169,
  44,
  67,
  162,
  63,
  50,
  55,
  155,
  20,
  11,
  60],
 'cluster_4': [196,
  8,
  73,
  42,
  34,
  144,
  114,
  158,
  77,
  14,
  78,
  72,
  20,
  147,
  142],
 'cluster_5': [78,
  199,
  46,
  99,
  157,
  182,
  44,
  8,
  85,
  91,
  128,
  94,
  17,
  15,
  60,
  38,
  122],
 'cluster_6': [153, 26, 90, 20, 73, 50, 195, 118, 49, 12, 170, 78, 113],
 'cluster_7': [0,
  162,
  161,
  197,
  139,
  112,
  184,
  47,
  36,
  137,
  190,
  3,
  169,
  88,
  56,
  44,
  189,
  21,
  147,
  49,
  142,
  127,
  45,
  120,
  140,
  89],
 'cluster_8': [165,
  34,
  187,
  168,
  101,
  162,
  115,
  141,
  176,
  114,
  95,
  43,
  25,
  11,
  45,
  67,
  40,
  76,
  31,
  136,
  83,
  51,
  125,
  196,
  163,
  174,
  10,
  17,
  99,
  36,
  113,
  189,
  108,
  62,
  49,
  148],
 'cluster_9': [3, 52, 143, 58, 0, 86]}

In [85]:
##Numero de clusters, estos vienen en formato de diccionario
num_clusters = len(clusters)

In [86]:
##Creamos una matriz de adyacencia con puros ceros

matrix_inicial = np.zeros((num_clusters, num_clusters))
names = [cluster for cluster in clusters.keys()]
matrix_distances = pd.DataFrame(matrix_inicial, index=names, columns=names)
matrix_distances

,cluster_8,cluster_9,cluster_6,cluster_7,cluster_4,cluster_5,cluster_2,cluster_3,cluster_0,cluster_1
cluster_8,0,0,0,0,0,0,0,0,0,0
cluster_9,0,0,0,0,0,0,0,0,0,0
cluster_6,0,0,0,0,0,0,0,0,0,0
cluster_7,0,0,0,0,0,0,0,0,0,0
cluster_4,0,0,0,0,0,0,0,0,0,0
cluster_5,0,0,0,0,0,0,0,0,0,0
cluster_2,0,0,0,0,0,0,0,0,0,0
cluster_3,0,0,0,0,0,0,0,0,0,0
cluster_0,0,0,0,0,0,0,0,0,0,0
cluster_1,0,0,0,0,0,0,0,0,0,0

In [87]:
##Hacemos una comparacion entre cada cluster, para sacar el numero de elementos que comparten, quiza no es lo m√°s
##eficiente pero es muy sencillo

for idx_1 in clusters.keys():
    for idx_2 in clusters.keys():
        if idx_1 != idx_2:
            #Elementos en cada cluster
            elementos_uno = float(len(clusters[idx_1]))
            elementos_dos = float(len(clusters[idx_2]))
            
            #El cluster con el menor numero de elementos
            minimo_elementos = min(elementos_uno, elementos_dos)
            
            #cuantos elementos comparten cada cluster
            elementos_compartidos = len(list(set(clusters[idx_1]).intersection(clusters[idx_2])))
            
            #Asignamos a la matriz la distancia como 1 - num_elemntos_comp / minim_elementos
            matrix_distances[idx_1][idx_2] = 1- (elementos_compartidos/minimo_elementos)

In [88]:
matrix_distances

,cluster_8,cluster_9,cluster_6,cluster_7,cluster_4,cluster_5,cluster_2,cluster_3,cluster_0,cluster_1
cluster_8,0.000000,1.000000,0.846154,0.807692,0.800000,0.882353,0.785714,0.800000,0.846154,0.833333
cluster_9,1.000000,0.000000,1.000000,0.666667,1.000000,1.000000,0.833333,1.000000,0.833333,1.000000
cluster_6,0.846154,1.000000,0.000000,0.923077,0.769231,0.923077,0.923077,0.846154,0.923077,1.000000
cluster_7,0.807692,0.666667,0.923077,0.000000,0.866667,0.941176,1.000000,0.666667,0.807692,1.000000
cluster_4,0.800000,1.000000,0.769231,0.866667,0.000000,0.866667,1.000000,0.800000,0.866667,1.000000
cluster_5,0.882353,1.000000,0.923077,0.941176,0.866667,0.000000,0.928571,0.866667,0.705882,0.666667
cluster_2,0.785714,0.833333,0.923077,1.000000,1.000000,0.928571,0.000000,0.857143,0.928571,0.666667
cluster_3,0.800000,1.000000,0.846154,0.666667,0.800000,0.866667,0.857143,0.000000,0.733333,1.000000
cluster_0,0.846154,0.833333,0.923077,0.807692,0.866667,0.705882,0.928571,0.733333,0.000000,1.000000
cluster_1,0.833333,1.000000,1.000000,1.000000,1.000000,0.666667,0.666667,1.000000,1.000000,0.000000